<div id="content" class="background">

  


  <div class="auth">
    
    <%= image_tag "logo.png", id: "logo" %>
  
    <h2>Sign up</h2>


    <form id="sign-up" action="<%=users_url%>" method="POST">
      <input 
        type="hidden" 
        name="authenticity_token" 
        class="email"
        value="<%=form_authenticity_token%>" />
      
      <input 
        type="text" 
        name="user[username]" 
        class="username" 
        placeholder="Username"
        value='<%= @user.username %>' /><br>
    
      <input 
        type="text" 
        name="user[email]" 
        class="email" 
        placeholder="Email"
        value='<%= @user.email %>' /><br>
    
    
      <input 
        type="password" 
        name="user[password]" 
        class="password" 
        placeholder="Password"
        /><br>
    
      <input 
        type="submit" 
        id="submit"
        value="Sign up" class="btn btn-primary"/>
    </form>
  
    <form id="guest-sign-in" action="<%=demo_users_url%>" method="post">
  
      <input 
        type="hidden" 
        name="authenticity_token" 
        value="<%=form_authenticity_token%>" />
    
      <input 
        type="submit" 
        value="Demo Sign in" 
        class="btn btn-success" 
        id="demo-button"/>
  
    </form>
  
  </div>
</div>

